@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(45deg, #4053cc, #c955c2);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
  max-width: 1000px;
  border: 1px solid #d7d7d7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
}

.table_header {
  display: flex;
  width: 100%;
  background: black;
  padding: 18px 0;
  color: white;
}

.table_row {
  display: flex;
  width: 100%;
  padding: 18px 0px;
  background: #fff;
}

.table_row:nth-child(odd) {
  background: #d7d7d7;
}

.table_data,
.header_item {
  flex: 1 1 23%;
  text-align: center;
}

.address {
  flex: 1 1 28%;
}

.header_item {
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}